<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<title></title>

<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>
<script src="lib/angular-resource/angular-resource.min.js"></script>
<script src="cordova.js"></script>
<script src="lib/ngCordova/dist/ng-cordova.js"></script>
<script src='lib/jquery/dist/jquery.min.js'></script>

<script src="lib/localforage/dist/localforage.min.js"></script>
<script src="lib/angular-localForage/dist/angular-localForage.min.js"></script>
<script src="lib/imagenie/imagenie.min.js"></script>

<script src='lib/lodash/dist/lodash.min.js'></script>
<script src='lib/bluebird/js/browser/bluebird.js'></script>
<script src='lib/angular-google-maps/dist/angular-google-maps.min.js'></script>

<script src='lib/taggingJS/tagging.js'></script>

<!-- script src="js/map.js"></script-->
<script src="js/ngBase.js"></script>
<script src="js/ngCommunity.js"></script>
<script src="js/inArt.js"></script>
<script src="js/ngTaggable.js"></script>
<script src="js/ngTaggableCordova.js"></script>
<script src="js/ngTaggableMock.js"></script>

<script src='http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry'></script>

<link href="css/intro.css" rel="stylesheet">
<link href="css/animate.css" rel="stylesheet">
<link href="lib/taggingJS/tag-basic-style.css" rel="stylesheet">


<!-- compiled css output -->
<link href="css/ionic.app.css" rel="stylesheet">

<link href="css/inArt.css" rel="stylesheet">

</head>
<body ng-app="app" class="slide-left-right-ios">	
	<ion-side-menus ng-controller="appController"> 
		<ion-side-menu-content> 			
			<ion-nav-view class="slide-left-right"></ion-nav-view>
		</ion-side-menu-content> 	
		<ion-side-menu side="left" expose-aside-when="large">			
			<ion-header-bar ng-class="config.data.bar.menu.class"><h1 class="title">Menu</h1></ion-header-bar> 
			<ion-content padding="false" scroll="false" class="has-header">
				<ion-list>
					<span ng-repeat="item in config.data.menu">
						<ion-item class="item-divider">{{item.name}}</ion-item>
						<span ng-repeat="item2 in item.menu">
							<ion-item ng-show="item2.type=='me'" class="item-icon-left" href="#/profile"><i class="icon ion-person"></i>Me</ion-item>							
							<ion-item  menu-close ng-show="item2.type==null" class="item-icon-left" href="{{item2.href}}"><i class="icon {{item2.icon}}"></i>{{item2.name}}</ion-item>							
						</span>						
					</span>					
					<span ng-show="profile=='test'">
						<ion-item class="item-icon-left" href="#/tab/list"><i class="icon ion-pricetag"></i>TagList</ion-item>	
						<ion-item href="#/audio" >Audio</ion-item> 
						<ion-item href="#/beacon">Beacon</ion-item>
						<ion-item href="#/notify">Notify</ion-item>
					</span>
				</ion-list> 
			</ion-content> 
		</ion-side-menu> 			
		<ion-side-menu side="right" expose-aside-when="large">
			<ion-header-bar ng-class="config.data.bar.menu.class"><h1 class="title">Acquisti</h1></ion-header-bar> 
			<ion-content padding="false" scroll="false" class="has-header">
				<ion-list>										
					<ion-item class="item-icon-left" href="#/audio" >
						<i class="icon ion-beer"></i>
						Birra
						<span class="badge badge-stable">4.00 &euro; x 2</span>						
    					<ion-option-button style="font-size: 38px;padding-top: 4px;" class="button-assertive ion-ios-trash" ng-click="share(item)"></ion-option-button>
					</ion-item> 
					<ion-item class="item-icon-left" href="#/audio" >
						<i class="icon ion-pizza"></i>
						Pizza						
						<span class="badge badge-stable">5.00 &euro; x 2</span>							
						<ion-option-button style="font-size: 38px;padding-top: 4px;" class="button-positive ion-plus-circled" ng-click="share(item)"></ion-option-button>					
    					<ion-option-button style="font-size: 38px;padding-top: 4px;" class="button-assertive ion-ios-trash" ng-click="share(item)"></ion-option-button>
					</ion-item> 
					<ion-item class="item-icon-left" href="#/audio" >
						<i class="icon ion-coffee"></i>
						Caff&egrave;	
						<span class="badge badge-stable">1.00 &euro; x 2</span>
    					<ion-option-button style="font-size: 38px;padding-top: 4px;" class="button-assertive ion-ios-trash" ng-click="share(item)"></ion-option-button>
					</ion-item>		
					<ion-item class="item-divider"></ion-item>
					<ion-item class="item-icon-left" href="#/audio" >
						<i class="icon ion-calculator"></i>
						Totale	
						<span class="badge badge-balanced">20.00 &euro;</span>						 					    					
					</ion-item>		
					<ion-item class="item-icon-left" href="#/audio" >
						<button class="button button-block button-positive icon-left ion-card">Conferma</button>
					</ion-item>		
				</ion-list> 
			</ion-content> 
		</ion-side-menu> 		
	</ion-side-menus>
	 
	
	<script id="tabs.html" type="text/ng-template">
	<ion-nav-view name="main"></ion-nav-view>
	
	<ion-tabs class="tabs-icon-only slide-left-right" ng-class="config.data.bar.bottom.class">		
		<ion-tab icon-on="ion-ios-location" icon-off="ion-ios-location-outline" title="Around" href="#/tab/list">
			<ion-nav-bar class="bar-assertive">
            	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>	
                <h1 class="title"></h1>					
				<ion-nav-buttons side="right">
					<button class="button button-icon icon ion-search" ng-click="filter.toggle()" ng-class="{active:filter.value.length==0,disactive:filter.value.length>0}"></button>					
				</ion-nav-buttons>
             </ion-nav-bar>
			<ion-header-bar  ng-show="filter.show" class="bar-subheader bar-assertive item-input-inset searchbar">
  				<label class="item-input-wrapper">
    				<i class="icon ion-search placeholder-icon"></i>
    				<input type="search" focus-on="filter.show" placeholder="Search" ng-model="filter.value">
  				</label>  	
				<button class="button button-clear" ng-click="filter.value=''"><I class="ion-close-circled"></I></button>				
			</ion-header-bar>
			<ion-nav-view name="list-tab"></ion-nav-view>
			<ion-footer-bar align-title="left" class="bar-assertive">  
  				<div class="button-bar">					
					<a class="button button-icon icon ion-ios-location"></a>
    				<a class="button button-icon icon ion-ios-camera-outline"></a>
					<a class="button button-icon icon ion-ios-navigate" ng-click="toggleMap()" ng-show="type=='list'"></a>
					<a class="button button-icon icon ion-ios-list" ng-click="toggleMap()" ng-show="type=='map'"></a>
  				</div>
			</ion-footer-bar>
		</ion-tab> 
		<ion-tab icon-on="ion-ios-camera" icon-off="ion-ios-camera-outline" title="Shot" href="#/tab/shot">
			 <ion-nav-view name="shot-tab"></ion-nav-view>
		</ion-tab> 
		<ion-tab icon-on="ion-ios-navigate" icon-off="ion-ios-navigate-outline" title="Map" href="#/tab/map">
			 <ion-nav-view name="map-tab"></ion-nav-view>			
		</ion-tab>
	</ion-tabs>
	</script>


	

	<script id="iBeacon.html" type="text/ng-template">
            <ion-view title="iBeacon">
            	<ion-header-bar class="bar-assertive">
		            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        		    <h1 class="title" ng-click="start()">iBeacon</h1>
	            </ion-header-bar>
    	        <ion-content padding="true" class="has-header">
        		    <form>
		            <label class="item item-input">						
            			<span class="input-label">UUID</span>
			            <input type="text" placeholder="UUID">
            		</label>
		            </form>

					<ion-list>
						<ion-item>Immediate</ion-item>        		     
						<ion-item ng-repeat="item in immediate" class="item-thumbnail-left">
							<div class="item-image" style="overflow:hidden"></div><H2>{{item.name}}</h2><P>{{item.accuracy}} - {{item.proximity}}</P>
						</ion-item>						
					</ion-list>
					<ion-list>
						<ion-item>Near</ion-item>        		     
						<ion-item ng-repeat="item in near" class="item-thumbnail-left">
							<div class="item-image" style="overflow:hidden"></div><H2>{{item.name}}</h2><P>{{item.accuracy}} - {{item.proximity}}</P>
						</ion-item>						
					</ion-list>
					<ion-list>        		     
						<ion-item>Far</ion-item>
						<ion-item ng-repeat="item in far" class="item-thumbnail-left">
							<div class="item-image" style="overflow:hidden"></div><H2>{{item.name}}</h2><P>{{item.accuracy}} - {{item.proximity}}</P>
						</ion-item>						
					</ion-list>
        	    </ion-content>
	        </ion-view>
        </script>

	<script id="notify.html" type="text/ng-template">
            <ion-view title="iBeacon">
            	<ion-header-bar class="bar-assertive">
		            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        		    <h1 class="title">Notification</h1>
	            </ion-header-bar>
    	        <ion-content padding="true" class="has-header">
        		    <form>
		            <button ng-click="start()">START</button>
		            </form>					
        	    </ion-content>
	        </ion-view>
        </script>

	   <script id="audio.html" type="text/ng-template">
            <ion-view title="List">
                <ion-header-bar class="bar-assertive">
                    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                    <h1 class="title">Profile</h1>
                </ion-header-bar>
                <ion-content padding="true" scroll="true">                    
 					<div class="list card">

  						<div class="item item-avatar"><h2>Audio</h2><p>Test audio</p></div>

  						<a class="item item-icon-left assertive" ng-click="capture()"><i class="icon ion-music-note"></i>Start save</a>
						<a class="item item-icon-left assertive" ng-click="play()"><i class="icon ion-music-note"></i>Start listening</a>	

					</div>
                </ion-content>
            </ion-view>
    </script>

	<script id="scan.html" type="text/ng-template"> 
            <ion-view title="Scan">
            	<ion-header-bar class="bar-assertive">
		            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        		    <h1 class="title">Barcode scan</h1>
	            </ion-header-bar>

    	        <ion-content padding="true" class="has-header">    	        
        		    <button class="button button-full button-positive" ng-click="scan()">scan</button>
		            <div class="list">
						<label class="item item-input item-floating-label">
    						<span class="input-label">Barcode</span>
    						<input type="text" placeholder="Barcode" ng-model="code">
						</label>
					</div>        		    
					<div class="gridcontainer"> 
					<ul>
						<li class="gridRepeats" ng-class="{deselect:!item.selected}" ng-repeat="item in list" ng-click="item.selected=!item.selected">
							<div class="image responsive" grid-image="{{item.img}}"></div>
							<!--div class="details responsive"  >{{grid.details}}</div-->
						</li>
					</ul>
					</div>	
        	    </ion-content>
	        </ion-view>
        </script>

	<script id="shot.html" type="text/ng-template">
            <ion-view title="List">
                <ion-header-bar class="bar-assertive">
                    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                    <h1 class="title">Shot</h1>
                </ion-header-bar>
                <ion-content padding="true" scroll="true">                    
 					<div class="list card">
						<form>
  						<div class="item item-icon-left">
    						<i class="icon ion-camera"></i>
    						<h2>Photo</h2>
  						</div>

  						<div class="item item-image">
    						<img ng-src="{{files[0].url}}">
  						</div>

  						<label class="item item-input">
    						<input id="name" type="text" placeholder="Name" ng-model="name">
  						</label>
				
  						<div id="tags" class="tagging-js" 							
							edit-on-delete="false"
							case-sensitive="false" 
							data-no-duplicate="true">photo</div>

						<label class="item item-input">
							<textarea placeholder="Description" ng-model="description"></textarea>
						</label>
<button class="button button-block button-positive" ng-click="upload()">UPLOAD</button>
						<button class="button button-block button-positive" ng-click="save()">SAVE</button>
						</form>
					</div>
                </ion-content>
            </ion-view>
    </script>

        
</body>
</html>
