<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<title></title>

<style>


.angular-google-map-container {
	width: 100%;
	height: 100%;
}
.scroll {
  height: 100%;
}
</style>
<style>
.deselect {
	opacity: .3;
}

.slider {
	height: 100%;
}

.slider-slide {
	padding-top: 80px;
	color: #000;
	background-color: #fff;
	text-align: center;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

.details {
	float: left;
	font-size: 1em;
	text-align: center;
	padding: 2%;
	background-color: #fff;
}

.image {
	float: left;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom left;
}

.responsive {
	height: 275px;
	width: 25%;
	box-shadow: 0 0 0 5px white inset;
}

.gridRepeats:nth-child(4n+1),.gridRepeats:nth-child(4n+2) { .details {
	background-color:#9CD8D8;
	
}
}

div.tag span
	{
	background: none repeat scroll 0 0 #cc2311;
	}
div.tag	
	{
	background: none repeat scroll 0 0 #ef4e3a;
	}
</style>

<style>

#map_canvas {
            height: 100%;
            width: 100%;
            margin: 0px;
        }

        #map_canvas {
            position: relative;
        }

        .angular-google-map-container {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
</style>
<link href="lib/ionic/css/ionic.css" rel="stylesheet">

<style>
.loading-container .loading 
	{
	padding: 8px;	
	font-size: 40px;
	}
</style>
<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>
<script src="lib/angular-resource/angular-resource.min.js"></script>
<script src="cordova.js"></script>
<script src="lib/ngCordova/dist/ng-cordova.js"></script>

<script src="js/map.js"></script>
<script src="js/ngTaggable.js"></script>
<script src="js/ngTaggableCordova.js"></script>
<script src="js/ngTaggableMock.js"></script>


<script src='http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry'></script>
<script src='lib/lodash/dist/lodash.min.js'></script>
<script src='lib/bluebird/js/browser/bluebird.js'></script>
<script src='lib/angular-google-maps/dist/angular-google-maps.min.js'></script>

<link href="lib/taggingJS/tag-basic-style.css" rel="stylesheet">
<script src='lib/jquery/dist/jquery.min.js'></script>
<script src='lib/taggingJS/tagging.js'></script>
<style>
	.slider-slide
		{
		background:transparent;
		}
	.slider
		{
		transition-duration:2s;
		}
</style>




<!-- link href='lib/bootstrap-tagsinput/examples/lib/bootstrap-3/dist/css/bootstrap.min.css' rel="stylesheet">
<link href='lib/bootstrap-tagsinput/examples/lib/bootstrap-3/dist/css/bootstrap-theme.min.css' rel="stylesheet">
<link href="lib/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet"-->

<!-- script src='lib/bootstrap-tagsinput/examples/lib/jquery/dist/jquery.min.js'></script>
<script src='lib/bootstrap-tagsinput/examples/lib/bootstrap-3/dist/js/bootstrap.min.js'></script>
<script src='lib/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js'></script>
<script src='lib/bootstrap-tagsinput/dist/bootstrap-tagsinput-angular.min.js'></script>
<script src='lib/bootstrap-tagsinput/examples/lib/typeahead.js/dist/typeahead.bundle.js'></script>
<script src='lib/bootstrap-tagsinput/examples/lib/rainbow/js/rainbow.min.js'></script>
<script src='lib/bootstrap-tagsinput/examples/lib/rainbow/js/language/generic.js'></script>
<script src='lib/bootstrap-tagsinput/examples/lib/rainbow/js/language/html.js'></script>
<script src='lib/bootstrap-tagsinput/examples/lib/rainbow/js/language/javascript.js'></script-->




<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
                         <link href="css/ionic.app.css" rel="stylesheet">
                         -->


<script>
	// Ionic Starter App

	// angular.module is a global place for creating, registering and retrieving Angular modules
	// 'starter' is the name of this angular module example (also set in a <body class="platform-ios platform-cordova platform-webview"> attribute in index.html)
	// the 2nd parameter is an array of 'requires'
	// 'starter.services' is found in services.js
	// 'starter.controllers' is found in controllers.js

	angular.module('app', ['ionic','map','taggableMock'])
	//angular.module('app', ['ionic','map','taggableCordova'])
	
	.run(["$ionicPlatform","$beacons","$notify","$state","$ionicModal","$rootScope","single",function($ionicPlatform,$beacons,$notify,$state,$ionicModal,$rootScope,single) {
		$ionicPlatform.ready(function() {
			// Hide the accessory bar by default (remove this to show the accessory bar above the keyboard
			// for form inputs)
			if (window.cordova && window.cordova.plugins.Keyboard) {
				cordova.plugins.Keyboard.hideKeyboardAccessoryBar(true);
			}
			if (window.StatusBar) {
				// org.apache.cordova.statusbar required
				StatusBar.styleDefault();
			}

			$("#tagBox").tagging();
			
			
			
			$beacons.change().then(null,null,function(data)
				{				
				if(data.near.length>0) 
					{
					if(data.view==data.near[0].taggable.id) return;
					data.view = data.near[0].taggable.id;					
					single.open(data.near[0].taggable.id);
					}
				});
				
		});
	}])

	.config(function($stateProvider, $urlRouterProvider) {

		// Ionic uses AngularUI Router which uses the concept of states
		// Learn more here: https://github.com/angular-ui/ui-router
		// Set up the various states which the app can be in.
		// Each state's controller can be found in controllers.js
		$stateProvider

		 .state('tabs', 
			{
		    url: "/tab",
		    abstract: true,
		    templateUrl: "tabs.html"
		    })
		 .state('profile', 
			{
			url: "/profile",			
			templateUrl: "profile.html"
			})
		 .state('tabs.singleMuseum', 
			{
			url: "/singleMuseum/{id}",			
			views: 
      			{
        		'list-tab': 
        			{
        			controller: 'singleTaggableController',
        			templateUrl: "singleMuseum.html"
        			}
      			}
			})
		 .state('tabs.singleTour', 
			{
			url: "/tour/single/{id}",			
			views: 
      			{
        		'list-tab': 
        			{
        			controller: 'singleTaggableController',
        			templateUrl: "tour/single.html"
        			}
      			}
			})
		.state('intro', 
			{
			url: "/",		
			controller:"introController",
			templateUrl: "intro.html"
			})
		 .state('tabs.home', 
			{
			cache: true,
      		url: "/home",
      		views: 
      			{
        		'list-tab': 
        			{
          			templateUrl: "list.html",
          			controller: 'aroundmeController'
        			}
      			}
    		})  
    	.state('tabs.museumMap', 
   				{
   				cache: true,
   				url : '/museum/map',
   				views: 
   		  			{
   		    		'list-tab': 
   		    			{
   		      			templateUrl: "collectionsMap.html",
   		      			controller: 'mapController'
   		    			}
   		  			}
   				})
   		.state('tabs.museumList', 
   				{
   				cache: true,
   				url : '/museumList',
   				views: 
   		  			{
   		    		'list-tab': 
   		    			{
   		      			templateUrl: "collections.html",
   		      			controller: 'aroundmeController'
   		    			}
   		  			}
   				})
   		.state('tabs.tourList', 
   				{
   				cache: true,
   				url : '/tourList',
   				views: 
   		  			{
   		    		'list-tab': 
   		    			{
   		      			templateUrl: "tourList.html",
   		      			controller: 'aroundmeController'
   		    			}
   		  			}
   				})
		.state('tabs.list', 
			{
			cache: true,
			url : '/list',
			views: 
	  			{
	    		'list-tab': 
	    			{
	      			templateUrl: "list.html",
	      			controller: 'aroundmeController'
	    			}
	  			}
			})	
		.state('tabs.listsingle', 
			{
			cache: true,
			url : '/single/{uid}',
			views: 
	  			{
	    		'list-tab': 
	    			{
	      			templateUrl: "list.html",
	      			controller: 'aroundmeController'	      			
	    			}
	  			}
			})	
		.state('audio', 
			{
			url: "/audio",			
			templateUrl: "audio.html",
			controller: 'audioController'
			})
		.state('iBeacon', 
			{
			url: "/beacon",			
			templateUrl: "iBeacon.html",
			controller: 'beaconController'
			})
		.state('notify', 
			{
			url: "/notify",			
			templateUrl: "notify.html",
			controller: 'notificationController'
			})
		.state('tabs.shot', 
			{
			url : '/shot',
			views: 
	  			{
	    		'shot-tab': 
	    			{
	      			templateUrl: "shot.html",
	      			controller: 'shotController'
	    			}
	  			}
			})
		.state('tabs.map', 
			{
			cache: true,
			url : '/map',
			views: 
	  			{
	    		'map-tab': 
	    			{
	      			templateUrl: "map.html",
	      			controller: 'mapController'
	    			}
	  			}
			})
		.state('tabs.single', 
			{
			url : '/single',
			views: 
	  			{
	    		'map-tab': 
	    			{
	      			templateUrl: "single.html",
	      			controller: 'singleTaggableController'
	    			}
	  			}
			})
		// if none of the above states are matched, use this as the fallback

		$urlRouterProvider.otherwise('/tab/home');

	})

	
	.directive('gridImage', function() {
		debugger;
		return function($scope, element, attrs) {
			var url = attrs.gridImage;
			element.css({
				'background-image' : 'url(' + url + ')',
			});
		}
	})
	.directive('hideTabs', function($rootScope) {
    return {
    	restrict: 'A',
        link: function($scope, $el) {        	
            $rootScope.hideTabs = true;
            $scope.$on('$destroy', function() {
                $rootScope.hideTabs = false;
            });
        }
    };
})
	.controller("museumController",["$scope","$ionicNavBarDelegate","$state",function($scope,$ionicNavBarDelegate,$state)
	    {		
		$scope.close=function()
			{					
			alert("close");
			$ionicNavBarDelegate.back();
			//$state.go("tabs.list");
			}
	    }])
	.controller("notificationController",["$scope","$cordovaLocalNotification",function($scope,$cordovaLocalNotification)
		{
		$scope.start=function(){
			alert("invio...");
			alert(window.plugin.notification.local);
			
			window.plugin.notification.local.add({message: 'Attenzione dietro di te un beacon'},function(){alert("sent")},$scope);
				
			}
		}])	
	.controller("beaconController", [ "$scope","$beacons","$notify", function($scope,$beacons,$notify) 
	    {		
			$beacons.change().then(function(){},function(){},function(data)
				{								
				$scope.near		= $beacons.near;
				$scope.far		= $beacons.far;
				$scope.immediate= $beacons.immediate;				
				})
		}])
	.controller("scanController", [ "$scope", function($scope) {
		
	} ])
	.controller("introController",["$scope",function($scope)
	    {
		$scope.change=function(index)
			{
			$(".slider").css("background-position-x",-(index*400)+"px");		
			}
		$scope.start=function()
			{
			$(".slider").css("opacity",0);
			setTimeout(function()
				{
				document.location.href='#/tab/list';
				},2000)
			
			}
	    }]);
	
	
</script>
<style>
.item-text{
    overflow: initial;
    white-space: initial;
}
.item-text .icon
	{
	height: 50px;
	}
</style>
</head>
<body ng-app="app" class="slide-left-right-ios">	
	<ion-side-menus ng-controller="appController"> 
		<ion-side-menu side="left">
			<ion-header-bar class="bar-positive"><h1 class="title">Menu</h1></ion-header-bar> 
			<ion-content padding="false" scroll="false" class="has-header">
				<ion-list> 
					<ion-item class="item-icon-left" href="#/profile"><i class="icon ion-person"></i>Me</ion-item>
					<ion-item class="item-icon-left" href="#/tab/museumList"><i class="icon ion-easel"></i>Collection</ion-item>
					<ion-item class="item-icon-left" href="#/tab/tourList"><i class="icon ion-map"></i>Tour</ion-item>
					<ion-item class="item-icon-left" href="#/tab/list"><i class="icon ion-pricetag"></i>TagList</ion-item> 
					<ion-item href="#/profileMuseum">Museum</ion-item> 
					<ion-item href="#/tab/list">Home</ion-item>
					<ion-item href="#/audio">Audio</ion-item> 
					<ion-item href="#/beacon">Beacon</ion-item>
					<ion-item href="#/notify">Notify</ion-item>
				</ion-list> 
			</ion-content> 
		</ion-side-menu> 	
		<ion-side-menu-content> 			
			<ion-nav-view class="slide-left-right"></ion-nav-view>
		</ion-side-menu-content> 		
	</ion-side-menus>
	 
	<script id="intro.html" type="text/ng-template">
	<ion-slide-box style="background-image:url('img/lighthouse.jpg')" on-slide-changed="change($index)">
  		<ion-slide>
    		<div class="box blue"><h1>Look Around</h1></div>
  		</ion-slide>
  		<ion-slide>
    		<div class="box yellow"><h1>Tag Anywhere</h1></div>
  		</ion-slide>
  		<ion-slide>
    		<div class="box pink">
				<h1>Tag Anything</h1>
				<button class="button button-large button-positive" ng-click="start()">Start</button>
			</div>
  		</ion-slide>
	</ion-slide-box>
	</script>
	
	<script id="tabs.html" type="text/ng-template">
	<ion-nav-view name="main"></ion-nav-view>

	<ion-tabs class="tabs-positive tabs-icon-only slide-left-right">		
		<ion-tab icon-on="ion-ios-location" icon-off="ion-ios-location-outline" title="Around" href="#/tab/list">
			 <ion-nav-view name="list-tab"></ion-nav-view>
		</ion-tab> 
		<ion-tab icon-on="ion-ios-camera" icon-off="ion-ios-camera-outline" title="Shot" href="#/tab/shot">
			 <ion-nav-view name="shot-tab"></ion-nav-view>
		</ion-tab> 
		<ion-tab icon-on="ion-ios-navigate" icon-off="ion-ios-navigate-outline" title="Map" href="#/tab/map">
			 <ion-nav-view name="map-tab"></ion-nav-view>			
		</ion-tab>
	</ion-tabs>
	</script>
	
	<script id="singleMuseum.html" type="text/ng-template">
            <ion-view title="{{name}}">
				
                <ion-nav-bar class="bar-assertive">
									
                    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                    <ion-nav-buttons side="right">
						<button class="button button-clear button-negative button-icon ion-close" ng-click="close()"></button>						
					</ion-nav-buttons>					
                </ion-nav-bar>
				<div style="height:530px; width:100%;background-position-x:{{background.x}}px; background-size:{{background.h}}%;background-image:url('{{img}}');position:relative;text-align:center">
					<div style="width:100%; margin-top:45px;position:relative; height:230px">
						<button class="button icon ion-gear-a button-clear" style="color:white; position:absolute; right:5px;bottom:5px;"></button>												
					</div>
				</div>

                <ion-content padding="false" scroll="true" on-scroll="scrolling(e,scrollTop)">					
 					<ion-list>        		     
						<div style="height:220px;"></div>
						<ion-item>
							<a class="item-icon-left" style="float:left; padding-left:36px;text-decoration:none; color:black" href="mailto:massimiliano.regis@gmail.com"><i class="icon ion-email"></i>Send mail</a>
							<a class="item-icon-right" style="float:right; padding-right:36px;text-decoration:none; color:black" href="tel:3284590306"><i class="icon ion-ios-telephone-outline"></i>Call</a>
						</ion-item>						
						<a class="item item-icon-left" href="http://boingshop.ekaros.it/boing.pkpass"><i class="icon ion-card"></i>Buy ticket</a>						
					</ion-list>
					
						<ion-item id="openDescription" class="item-icon-left item-text"  style="display:none" onclick="$('#openDescription').hide(); $('#closeDescription').show();">
							<i class="icon ion-arrow-down-b"></i>
							<span ng-bind-html="description"></span>
						</ion-item>
						<ion-item  id="closeDescription" class="item-icon-left"  onclick="$('#closeDescription').hide(); $('#openDescription').show();">
							<i class="icon ion-arrow-right-b"></i>
							<span ng-bind-html="description"></span>
						</ion-item>
					</ion-list>    
					<ion-list>        		     
						<ion-item class="item-divider">Content</ion-item>	
						<ion-item class="item-icon-left"><i class="icon ion-calendar"></i>Events</ion-item>			
						<ion-item class="item-icon-left"><i class="icon ion-headphone"></i>Audio</ion-item>
						<ion-item class="item-icon-left"><i class="icon ion-film-marker"></i>Video</ion-item>											
					</ion-list>               
					<ion-list ng-controller="aroundmeController">        		     						
						<ion-item class="item-divider">Works</ion-item>							
						<ion-item class="item-thumbnail-left" ng-repeat="item in aroundme | filter:{museum:option.originalid}" ng-click="item.onClick()"><img ng-src="{{item.img}}"><h2>{{item.name}}</h2><p ng-bind-html="item.description"></p></ion-item>
												
					</ion-list>					
                </ion-content>
            </ion-view>
    </script>
	
	<script id="profile.html" type="text/ng-template">
            <ion-view title="List">
                <ion-header-bar class="bar-assertive">
                    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                    <h1 class="title">Profile</h1>
                </ion-header-bar>
				<div style="height:200px; width:100%;background-size:100%;background-image:url('http://wallpaperart.altervista.org/Immagini/citta_foto_alto_1440x900.jpg');position:relative;text-align:center">
					<div style="width:100%; margin-top:45px;position:relative; height:200px">
						<button class="button icon ion-gear-a button-clear" style="color:white; position:absolute; right:5px;bottom:5px;"></button>
						<H2 style="color:white;margin:0;padding-top:10px;font-shadow:0 0 0 10px black;">Max</H2>
						<div style="position:absolute; left:50%; bottom:10px; margin-left:-60px; height:120px; width:120px;text-align:center;">											
							<div style="background-image:url('https://media.licdn.com/mpr/mpr/shrink_200_200/p/2/005/013/1f9/3ca2320.jpg');width:120px; height:120px; border-radius:100px; background-size:100%;border:solid 2px white;"></div>
						</div>
					</div>
				</div>
                <ion-content padding="false" scroll="true">					                   
 					<ion-list>        		     
						<div style="height:200px;"></div>
						<ion-item class="item-icon-left"><i class="icon ion-email"></i>Check mail</ion-item>
						<ion-item class="item-icon-left item-icon-right"><i class="icon ion-chatbubble-working"></i>Call me<i class="icon ion-ios-telephone-outline"></i></ion-item>
						
					</ion-list>
                </ion-content>
            </ion-view>
    </script>
    
    <script id="audio.html" type="text/ng-template">
            <ion-view title="List">
                <ion-header-bar class="bar-assertive">
                    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                    <h1 class="title">Profile</h1>
                </ion-header-bar>
                <ion-content padding="true" scroll="true">                    
 					<div class="list card">

  						<div class="item item-avatar"><h2>Audio</h2><p>Test audio</p></div>

  						<a class="item item-icon-left assertive" ng-click="capture()"><i class="icon ion-music-note"></i>Start save</a>
						<a class="item item-icon-left assertive" ng-click="play()"><i class="icon ion-music-note"></i>Start listening</a>	

					</div>
                </ion-content>
            </ion-view>
    </script>

	
	<script id="single.html" type="text/ng-template">
  	<ion-modal-view>
    	<ion-header-bar class="bar-assertive">            
			<h1 class="title">{{obj.name}}</h1>
			<div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
        </ion-header-bar>
    	<ion-content>
      		
			<div class="list card">
  				<div class="item item-avatar">
    				<i class="icon ion-images" style="font-size: 43px;float: left;margin-left: -50px;"></i>
    				<h2>{{obj.name}}</h2>
    				<p>{{obj.position.distance|distance}}</p>
  				</div>

  				<div class="item item-body">
    				<img class="full-image" ng-src="{{obj.img}}">
    				<p ng-bind-html="obj.description">
      					{{obj.description}}
    				</p>
    				<p>
     					<a class="subdued">{{obj.like|like}}</a>
      					<a href="#" class="subdued">5 Comments</a>
    				</p>
  				</div>

  				<div class="item tabs tabs-secondary tabs-icon-left">
    				<a class="tab-item" ng-click="obj.addLike()">
      					<i class="icon ion-thumbsup"></i>Like
    				</a>
    				<a class="tab-item"  ng-click="obj.addComment()">
      					<i class="icon ion-chatbox"></i>Comment
					</a>
    				<a class="tab-item"  ng-click="obj.share()">
      					<i class="icon ion-share"></i>Share
    				</a>
  				</div>
			</div>
    	</ion-content>
  	</ion-modal-view>
	</script>
	
	<script id="shot.html" type="text/ng-template">
            <ion-view title="List">
                <ion-header-bar class="bar-assertive">
                    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                    <h1 class="title">Shot</h1>
                </ion-header-bar>
                <ion-content padding="true" scroll="true">                    
 					<div class="list card">
						<form>
  						<div class="item item-icon-left">
    						<i class="icon ion-camera"></i>
    						<h2>Photo</h2>
  						</div>

  						<div class="item item-image">
    						<img ng-src="{{files[0].url}}">
  						</div>

  						<label class="item item-input">
    						<input id="name" type="text" placeholder="Name" ng-model="name">
  						</label>
				
  						<div id="tags" class="tagging-js" 							
							edit-on-delete="false"
							case-sensitive="false" 
							data-no-duplicate="true">photo</div>

						<label class="item item-input">
							<textarea placeholder="Description" ng-model="description"></textarea>
						</label>

						<button class="button button-block button-positive" ng-click="save()">SAVE</button>
						</form>
					</div>

                </ion-content>
            </ion-view>
    </script>



	<script id="map.html" type="text/ng-template">
            <ion-view title="List">
                <ion-header-bar class="bar-assertive">
                    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                    <h1 class="title" ng-click="add()">Map</h1>
                </ion-header-bar>
                <ion-content scroll="false" data-tap-disabled="true">                    
 					<div id="map_canvas" tap-disabled="true">
			    		<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" bounds="map.bounds" options="map.options">
			        		<ui-gmap-markers models="markers" coords="'self'" icon="'icon'" click="'onClick'">
								<!--ui-gmap-windows show="show">
                					<div ng-non-bindable>{{id}}</div>
            					</ui-gmap-windows-->
							</ui-gmap-markers>
			    		</ui-gmap-google-map>
					</div>
                </ion-content>
            </ion-view>
    </script>
	<script id="collectionsMap.html" type="text/ng-template">
            <ion-view title="Collections map">
                 <ion-nav-bar class="bar-assertive">
                    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>                    
					<ion-nav-buttons side="right">
						<button class="button button-icon icon ion-ios-list-outline" ng-click="toList()"></button>
					</ion-nav-buttons>
                </ion-nav-bar>
                <ion-content scroll="false" data-tap-disabled="true">                    
 					<div id="map_canvas" tap-disabled="true">
			    		<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" bounds="map.bounds" options="map.options">
			        		<ui-gmap-marker ng-repeat="item in markers | filter:{type:'museum'}" coords="item.position" idkey="item.id" icon="item.icon" click="item.single"></ui-gmap-marker>
							<ui-gmap-marker coords="me.position" idkey="'me'" icon="me.icon"></ui-gmap-marker>
			    		</ui-gmap-google-map>
					</div>
                </ion-content>
            </ion-view>
    </script>
	<script id="collections.html" type="text/ng-template">
            <ion-view title="Collections">
                <ion-nav-bar class="bar-assertive">
                    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                    <h1 class="title"></h1>
					<ion-nav-buttons side="right">
						<button class="button button-icon icon ion-ios-navigate-outline" ng-click="toMap()"></button>
					</ion-nav-buttons>
                </ion-nav-bar>
                <ion-content padding="true" scroll="true">                    
 					<ion-list>        		     
						<ion-item ng-repeat="item in aroundme | filter:{type:'museum'}|orderBy:position.distance" class="item-thumbnail-left" style="position:relative;" ng-click="item.onClick()">
							<div class="item-image" style="overflow:hidden">
								<img ng-src="{{item.img}}" style="width:150px"/>
							</div>
							<H2>{{item.name}}</h2><P ng-bind-html="item.description">{{item.description}}</P>
							<div style="position:absolute;bottom:6px;">{{item.like|like}}</div>
							<div style="position:absolute;bottom:6px; right:10px;">
								<div class="distance" style="float:right">{{item.position.distance|distance}}</div>
								<div class="icon ion-navigate" style="transform: rotate({{item.position.direction}}deg);transform-origin:10px 10px; height:20px; width:20px;float: left;"></div>
							</div>
						</ion-item>						
					</ion-list>
                </ion-content>
            </ion-view>
    </script>

	<!-- TOUR LIST -->
	<script id="tourList.html" type="text/ng-template">
            <ion-view title="Tours">
                <ion-nav-bar class="bar-assertive">
                    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                    <h1 class="title"></h1>
					<ion-nav-buttons side="right">
						<button class="button button-icon icon ion-ios-navigate-outline" ng-click="toMap()"></button>
					</ion-nav-buttons>
                </ion-nav-bar>
                <ion-content padding="true" scroll="true">                    
 					<ion-list>        		     
						<ion-item ng-repeat="item in aroundme | filter:{type:'tour'}|orderBy:position.distance" class="item-thumbnail-left" style="position:relative;" ng-click="item.onClick()">
							<div class="item-image" style="overflow:hidden">
								<img ng-src="{{item.img}}" style="width:150px"/>
							</div>
							<H2>{{item.name}}</h2><P ng-bind-html="item.description">{{item.description}}</P>
							<div style="position:absolute;bottom:6px;">{{item.like|like}}</div>
							<div style="position:absolute;bottom:6px; right:10px;">
								<div class="distance" style="float:right">{{item.position.distance|distance}}</div>
								<div class="icon ion-navigate" style="transform: rotate({{item.position.direction}}deg);transform-origin:10px 10px; height:20px; width:20px;float: left;"></div>
							</div>
						</ion-item>						
					</ion-list>
                </ion-content>
            </ion-view>
    </script>
    <script id="tour/single.html" type="text/ng-template">
            <ion-view title="{{name}}">
				
                <ion-nav-bar class="bar-assertive">
									
                    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                    <ion-nav-buttons side="right">
						<button class="button button-clear button-negative button-icon ion-close" ng-click="close()"></button>						
					</ion-nav-buttons>					
                </ion-nav-bar>
				<div style="height:530px; width:100%;background-position-x:{{background.x}}px; background-size:{{background.h}}%;background-image:url('{{img}}');position:relative;text-align:center">
					<div style="width:100%; margin-top:45px;position:relative; height:230px">
						<button class="button icon ion-gear-a button-clear" style="color:white; position:absolute; right:5px;bottom:5px;"></button>												
					</div>
				</div>

                <ion-content padding="false" scroll="true" on-scroll="scrolling(e,scrollTop)">					
 					<ion-list>        		     
						<div style="height:220px;"></div>											
						<ion-item id="openDescription" class="item-icon-left item-text"  style="display:none" onclick="$('#openDescription').hide(); $('#closeDescription').show();">
							<i class="icon ion-arrow-down-b"></i>
							<span ng-bind-html="description"></span>
						</ion-item>
						<ion-item  id="closeDescription" class="item-icon-left"  onclick="$('#closeDescription').hide(); $('#openDescription').show();">
							<i class="icon ion-arrow-right-b"></i>
							<span ng-bind-html="description"></span>
						</ion-item>
					</ion-list>    
					<ion-list>        		     
						<ion-item class="item-divider">Content</ion-item>	
						<ion-item class="item-icon-left"><i class="icon ion-calendar"></i>Events</ion-item>			
						<ion-item class="item-icon-left"><i class="icon ion-headphone"></i>Audio</ion-item>
						<ion-item class="item-icon-left"><i class="icon ion-film-marker"></i>Video</ion-item>											
					</ion-list>               
					<ion-list ng-controller="aroundmeController">        		     						
						<ion-item class="item-divider">Artworks</ion-item>
						<ion-item class="item-thumbnail-left" ng-repeat="item in aroundme | inArray:option.tour" ng-click="item.onClick()"><img ng-src="{{item.img}}"><h2>{{item.name}}</h2><p ng-bind-html="item.description"></p></ion-item>					
					</ion-list>					
                </ion-content>
            </ion-view>
    </script>
	<!-- TOUR LIST -->

	<script id="list.html" type="text/ng-template">
            <ion-view title="{{title}}">
                <ion-nav-bar class="bar-assertive">
                    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                    <h1 class="title"></h1>
					<ion-nav-buttons side="right">
						<button class="button button-icon icon ion-ios-navigate-outline"></button>
					</ion-nav-buttons>
                </ion-nav-bar>
                <ion-content padding="true" scroll="true">                    
 					<ion-list>        		     
						<ion-item ng-repeat="item in aroundme | filter:filter|orderBy:position.distance" class="item-thumbnail-left" style="position:relative;" ng-click="item.onClick()">
							<div class="item-image" style="overflow:hidden">
								<img ng-src="{{item.img}}" style="width:150px"/>
							</div>
							<H2>{{item.name}}</h2><P ng-bind-html="item.description">{{item.description}}</P>
							<div style="position:absolute;bottom:6px;">{{item.like|like}}</div>
							<div style="position:absolute;bottom:6px; right:10px;">
								<div class="distance" style="float:right">{{item.position.distance|distance}}</div>
								<div class="icon ion-navigate" style="transform: rotate({{item.position.direction}}deg);transform-origin:10px 10px; height:20px; width:20px;float: left;"></div>
							</div>
						</ion-item>						
					</ion-list>
                </ion-content>
            </ion-view>
    </script>

	<script id="iBeacon.html" type="text/ng-template">
            <ion-view title="iBeacon">
            	<ion-header-bar class="bar-assertive">
		            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        		    <h1 class="title" ng-click="start()">iBeacon</h1>
	            </ion-header-bar>
    	        <ion-content padding="true" class="has-header">
        		    <form>
		            <label class="item item-input">						
            			<span class="input-label">UUID</span>
			            <input type="text" placeholder="UUID">
            		</label>
		            </form>

					<ion-list>
						<ion-item>Immediate</ion-item>        		     
						<ion-item ng-repeat="item in immediate" class="item-thumbnail-left">
							<div class="item-image" style="overflow:hidden"></div><H2>{{item.name}}</h2><P>{{item.accuracy}} - {{item.proximity}}</P>
						</ion-item>						
					</ion-list>
					<ion-list>
						<ion-item>Near</ion-item>        		     
						<ion-item ng-repeat="item in near" class="item-thumbnail-left">
							<div class="item-image" style="overflow:hidden"></div><H2>{{item.name}}</h2><P>{{item.accuracy}} - {{item.proximity}}</P>
						</ion-item>						
					</ion-list>
					<ion-list>        		     
						<ion-item>Far</ion-item>
						<ion-item ng-repeat="item in far" class="item-thumbnail-left">
							<div class="item-image" style="overflow:hidden"></div><H2>{{item.name}}</h2><P>{{item.accuracy}} - {{item.proximity}}</P>
						</ion-item>						
					</ion-list>
        	    </ion-content>
	        </ion-view>
        </script>

	<script id="notify.html" type="text/ng-template">
            <ion-view title="iBeacon">
            	<ion-header-bar class="bar-assertive">
		            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        		    <h1 class="title">Notification</h1>
	            </ion-header-bar>
    	        <ion-content padding="true" class="has-header">
        		    <form>
		            <button ng-click="start()">START</button>
		            </form>					
        	    </ion-content>
	        </ion-view>
        </script>

	<script id="scan.html" type="text/ng-template"> 
            <ion-view title="Scan">
            	<ion-header-bar class="bar-assertive">
		            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        		    <h1 class="title">Barcode scan</h1>
	            </ion-header-bar>

    	        <ion-content padding="true" class="has-header">    	        
        		    <button class="button button-full button-positive" ng-click="scan()">scan</button>
		            <div class="list">
						<label class="item item-input item-floating-label">
    						<span class="input-label">Barcode</span>
    						<input type="text" placeholder="Barcode" ng-model="code">
						</label>
					</div>        		    
					<div class="gridcontainer"> 
					<ul>
						<li class="gridRepeats" ng-class="{deselect:!item.selected}" ng-repeat="item in list" ng-click="item.selected=!item.selected">
							<div class="image responsive" grid-image="{{item.img}}"></div>
							<!--div class="details responsive"  >{{grid.details}}</div-->
						</li>
					</ul>
					</div>	
        	    </ion-content>
	        </ion-view>
        </script>
        
        <script src='lib/aloha/aloha.min.js'></script>
        
</body>
</html>
