   <ion-view title="{{name}}">
				
                <ion-nav-bar class="bar-assertive">
									
                    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                    <ion-nav-buttons side="right">
						<button class="button button-clear button-negative button-icon ion-close" ng-click="close()"></button>						
					</ion-nav-buttons>					
                </ion-nav-bar>
				<div style="height:530px; width:100%;background-repeat:no-repeat;background-position-x:{{background.x}}px; background-size:{{background.h}}%;background-image:url('{{img}}');position:relative;text-align:center">
					<div style="width:100%; margin-top:45px;position:relative; height:230px">
						<button class="button icon ion-gear-a button-clear" style="color:white; position:absolute; right:5px;bottom:5px;"></button>												
					</div>
				</div>

                <ion-content padding="false" scroll="true" on-scroll="scrolling(e,scrollTop)">					
 					<ion-list>        		     
						<div style="height:220px;"></div>
						<ion-item>
							<a class="item-icon-left" style="float:left; padding-left:36px;text-decoration:none; color:black" href="mailto:massimiliano.regis@gmail.com"><i class="icon ion-email"></i>Send mail</a>
							<a class="item-icon-right" style="float:right; padding-right:36px;text-decoration:none; color:black" href="tel:3284590306"><i class="icon ion-ios-telephone-outline"></i>Call</a>
						</ion-item>						
						<a class="item item-icon-left" href="http://boingshop.ekaros.it/boing.pkpass"><i class="icon ion-card"></i>Buy ticket</a>						
					</ion-list>
					
						<ion-item id="openDescription" class="item-icon-left item-text"  style="display:none" onclick="$('#openDescription').hide(); $('#closeDescription').show();">
							<i class="icon ion-arrow-down-b"></i>
							<span ng-bind-html="description"></span>
						</ion-item>
						<ion-item  id="closeDescription" class="item-icon-left"  onclick="$('#closeDescription').hide(); $('#openDescription').show();">
							<i class="icon ion-arrow-right-b"></i>
							<span ng-bind-html="description"></span>
						</ion-item>
					</ion-list>    
					<ion-list>       			 		     
						<ion-item class="item-divider">Content</ion-item>	
						<ion-item class="item-icon-left"><i class="icon ion-calendar"></i>Events</ion-item>			
						<ion-item class="item-icon-left item-icon-right" ng-show="audio.file" ng-click="audio.toggle()"><i class="icon ion-headphone"></i>Audio<i class="icon" ng-class="{'ion-pause':audio.open,'ion-play':!audio.open}"></i></ion-item>
						<ion-item class="item-icon-left item-icon-right" ng-show="video.file" ng-click="video.toggle()"><i class="icon ion-film-marker"></i>Video<i class="icon" ng-class="{'ion-pause':video.open,'ion-play':!video.open}"></i>
						<div id="audio" style="display:none">      
							<audio width="100%" controls>
								<source type="audio/mp3"/>															
							</audio>    
						</div> 
						</ion-item>
						<ion-item id="video" ng-show="video.open">
							<video  width="100%" controls>
								<source src="{{video.file}}" type="video/mp4"/>																						
							</video>
						</ion-item>											
					</ion-list>
					    
					<ion-list ng-controller="aroundmeController">        		     						
						<ion-item class="item-divider">Works</ion-item>							
						<ion-item class="item-thumbnail-left" ng-repeat="item in aroundme | filter:{museum:option.originalid}" ng-click="item.onClick()"><img ng-src="{{item.img}}"><h2>{{item.name}}</h2><p ng-bind-html="item.description"></p></ion-item>
												
					</ion-list>					
                </ion-content>
            </ion-view>