<ion-view>
<img src="img/icona.png" id="logo"/>
			<ion-slide-box>  			
  			<ion-slide>
    			<div class="box" id="page2">
				<div class="text">
            		<h1 class="cover-heading" style="text-align: left;">Cerca</h1>
            		<p class="lead pgdescrit"> il TUO museo,<br>il TUO percorso,<br>la TUA opera preferita.</p>
          		</div>
				</div>
  			</ion-slide>
			<ion-slide>
    			<div class="box" id="page3">
				<div class="text">
            		<h1 class="cover-heading" style="text-align: left;">Rilassati</h1>
            		<p class="lead pgdescrit">avvio automatico,<br>geolocalizzazione <br>all'esterno ed all'interno del museo.</p>
          		</div>
				</div>
  			</ion-slide>
			<ion-slide>
    			<div class="box" id="page4">
				<div class="text">
            		<h1 class="cover-heading" style="text-align: left;">Valuta</h1>
            		<p class="lead pgdescrit">se vuoi poi valutare <br>la struttura museale <br> e le opere.</p>
          		</div>
				</div>
  			</ion-slide>
			<ion-slide>
    			<div class="box" id="page5">
				<div class="text">
            		<h1 class="cover-heading" style="text-align: left;">Inserisci</h1>
            		<p class="lead pgdescrit">fai conoscie agli altri le opere degli artisti che stimi.</p>
          		</div>
				</div>
  			</ion-slide>  	
			<ion-slide>
    			<div class="box" id="page1">
 					<div class="text">			
						<img src="img/icona.png" border="0" width="auto" height="auto">
            			<h1 class="cover-heading"> Benvenuto in InArt</h1>            			            			
              			<button class="button-light button-large" ng-click="start()">Inizia!</button>            			
          			</div>
				</div>
  			</ion-slide>	
			</ion-slide-box>
</ion-view>